/* Local Fonts Configuration */

/* --- Open Sans --- */
/* Cyrillic Subset */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/opensans-regular-cyr.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* Latin Subset */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/opensans-regular-lat.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Cyrillic Semibold */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    font-display: swap;
    src: url('../fonts/opensans-semibold-cyr.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* Latin Semibold */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    font-display: swap;
    src: url('../fonts/opensans-semibold-lat.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* --- Philosopher --- */
/* Cyrillic Regular */
@font-face {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/philosopher-regular-cyr.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* Latin Regular */
@font-face {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/philosopher-regular-lat.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Cyrillic Bold */
@font-face {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/philosopher-bold-cyr.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* Latin Bold */
@font-face {
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/philosopher-bold-lat.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Cyrillic Italic */
@font-face {
    font-family: 'Philosopher';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/philosopher-italic-cyr.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* Latin Italic */
@font-face {
    font-family: 'Philosopher';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/philosopher-italic-lat.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
